* {
  margin: 0;
  padding: 0;
}
input {
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  border: none;
}
.app-container {
  height: 100vh;
  /* ; */
}

main{
  background-color: #575757;
}
.navbar-container {
  display: flex;
  background-color: #272727;
  color: #ddd;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
  > .link-container {
    display: flex;
    gap: 1rem;
    background-color: #272727;
    > li {
      list-style-type: none;
      margin: 0.5rem;
      > a {
        text-decoration: none;
        font-weight: 600;
        padding: 0.5rem;
        border-radius: 0.125rem;
        color: #fff;
        &:hover {
          color: aqua;
        }
      }
    }
  }
}

.search-container {
  display: flex;
  gap: 0.5rem;
  > input {
    background-color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
  }
  > button {
    background-color: aqua;
    color: #3d3d3d;
    padding: 0.5rem;
    border: none;
    border-radius: 0.125rem;
    &:hover {
      cursor: pointer;
    }
  }
}

.profile-icon-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.profile-icon {
  display: flex;
  background-color: #575757;
  padding: 0.5rem;
  border-radius: 1rem;
  line-height: 1rem;
  width: 1rem;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.auth-modal {
  background-color: #ddd;
  padding: 1rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  right: 2rem;
}

.music-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}
.home-container {
  background-color: #575757;
}

.music-card-container {
  max-width: 15rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > img {
    border-radius: 0.25rem;
  }
  &:hover {
    cursor: pointer;
    background-color: #272727;
  }
}
.title {
  color: #fff;
}
.subtitle {
  color: #b6b6b6;
  font-size: 0.75rem;
}

.one-line {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.form-container {
  color: #ddd;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.music-player-container{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  > p{
    font-size: 1.25rem;
    color: #b6b6b6;
  }
}

.music-Player{
  width: 100%;
  height: 5rem;
  background-color: aqua;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

#progress-bar{
  width: 100%;
}

.social-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  color: #ddd;
  background-color: #575757;
}

.post-container{
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  border: 1px solid #ddd;
  align-items: center;
}

.post-header{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.profile-img{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.channel-img{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.post-footer{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.like-button{
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  border: none;
  &:hover{
    cursor: pointer;
  }
}

/* .navbar-container .link-container{

} */
